/* TodoList styling startfrom here  */
.TextH3{
    margin : 0 25rem;
    padding: 15px 0;
    text-align: center;
    font-size: 25px;
    /* box-shadow: inset 4px 0 8px grey; */
}
/* TodoList styling ends here 
 */
/* .TodoForm styling start from here  */
.LabelText{
    margin-right: 10px;
    font-weight: bold;
}

.TodoForm {
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 8px grey;
    margin: 1rem  25rem 1.5rem;
}

.TodoFormInput {
    font-size: 16px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    border-bottom: 2px solid #ddd;
    outline: none;
    width: 50%;
    margin: 0 10px;
}

#btn{
    font-size:14px;
    padding:6px 10px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    background-color:#af066e;
    color:#fff;
}

/* .TodoForm styling ends here  */